<div class="login-box">
  <div class="login-logo">
    <a><b>MyVirtualStoryBook</b></a>
  </div><!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">Connexion</p>
    <form name="loginForm">
      <div class="form-group">
        <input type="text"  max="20" name="username" class="form-control" placeholder="Nom d'utilisateur" ng-model="user.username" ng-change="displayMessage = false" required>
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="form-group">
        <input type="password" class="form-control" placeholder="Mot de passe" ng-model="user.password" ng-change="displayMessage = false" required>
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="row">
        <div class="col-xs-4">
          <button type="submit" ng-click="authentify()" class="btn btn-primary btn-block btn-flat">Connexion</button>
        </div><!-- /.col -->
        <div class="col-xs-8" ng-show="displayMessage">{{displayMessageText}}</div>
      </div>
    </form>

  </div><!-- /.login-box-body -->
  
  <div class="floatingAlerts signin">
    <div class="alert alert-success alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      Bienvenue sur la version <strong>Béta</strong> de <strong>MyVirtualStoryBook</strong> si vous souhaitez jeter un oeil vous pouvez utiliser le compte commun de test <br/>
      Nom d'utilisateur : <strong>Mvsb</strong> <br/>
      Mot de passe : <strong>mvsb</strong> <br/>
      Pour toute remarque, suggestion ou si vous souhaitez un accès personnel <br/>
      envoyez un mail à <strong>myvirtualstorybook@gmail.com</strong> <br/>
      <br/>
      Derniers ajouts : <br/>
      <br/>
       - Vous pouvez ajouter une image dans une page
       - Lifting des alertes lors de la sauvegarde d'une page ou d'un livre
    </div>
  </div>
</div>