<div class="login-box">
  <div class="login-logo">
    <a><b>MyVirtualStoryBook</b></a>
  </div><!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">Connexion</p>
    <form name="loginForm">
      <div class="form-group">
        <input type="text"  max="20" name="username" class="form-control" placeholder="Nom d'utilisateur" ng-model="user.username" ng-change="displayMessage = false" required>
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="form-group">
        <input type="password" class="form-control" placeholder="Mot de passe" ng-model="user.password" ng-change="displayMessage = false" required>
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="row">
        <div class="col-xs-4">
          <button type="submit" ng-click="authentify()" class="btn btn-primary btn-block btn-flat">Connexion</button>
        </div><!-- /.col -->
        <div class="col-xs-8" ng-show="displayMessage">{{displayMessageText}}</div>
      </div>
    </form>
    <a>Mot de passe oublié ?</a><br>
    <a class="text-center">Créer un compte</a>

  </div><!-- /.login-box-body -->
</div>