<!-- Contenu de la page -->
<div class="content-wrapper" ng-class="{'with-right-sidebar': showRightMenu}">
  <!-- Content Header (Page header) -->
  <section class="content-header">
  </section>
  <!-- Main content -->
  <section class="content">
    <div class="row">
      <!-- Default box -->
      <div class="col-lg-12 col-sm-12 col-xs-12">
        <div class="box box-primary md-whiteframe-z1">
          <div class="box-header with-border">
            <h3 class="box-title">Votre livre</h3>
            <div class="box-tools pull-right">
              <div class="btn-group">
                <label class="label label-success md-whiteframe-z1" ng-if="init && !book.draft"><i class="fa fa-book"></i> Publié</label>
                <label class="label label-danger md-whiteframe-z1" ng-if="init && book.draft"><i class="fa fa-pencil"></i> Brouillon</label>
              </div>
            </div>
          </div>
          <div class="box-body row">
            <div class="col-lg-3 col-sm-3 col-xs-3 changer-cover">              
              <img ng-src="{{book.cover}}" class="cover-preview md-whiteframe-z1" alt="User Image">
              <div class="input-group margin-top md-whiteframe-z1">
                  <span class="input-group-addon">URL</span>
                  <input ng-change="saveBook()" ng-model-options="{debounce:1000}"  type="text" name="cover" class="form-control " placeholder="url de l'image de couverture" ng-model="book.cover" ng-change="displayMessage = false" required>
              </div>
            </div>
            <div class="col-xs-9">
              <div class="input-group margin-top col-xs-12">
                <label>Titre</label> 
                <input ng-change="saveBook()" ng-model-options="{debounce:1000}" type="text" ng-disabled="!book.draft" name="cover" class="form-control" placeholder="Titre du livre" ng-model="book.name" ng-change="displayMessage = false" required>
              </div>
              <div class="input-group margin-top col-xs-12">
                <label>Genre</label>
                <select  ng-change="saveBook()" data-icon="fa fa-{{genre.icon}}" ng-model="book.genre" ng-disabled="!book.draft" ng-options="genre as genre.name for genre in genres track by genre.id" class="form-control">
                </select>
              </div>
              <div class="input-group margin-top col-xs-12">
                <label>Synopsis</label> 
                <textarea rows="5" ng-model-options="{debounce:1000}" ng-change="saveBook()" name="synopsis" class="form-control" placeholder="Synopsis" ng-model="book.synopsis" ng-change="displayMessage = false" required></textarea>
              </div>
              <div class="input-group margin-top col-xs-12">
                <label>Page de début</label> 
                <select  ng-change="saveBook()" ng-model="book.starting_page" ng-options="page as page.title for page in pages track by page.id" class="form-control"></select>
              </div>
            </div>
          </div><!-- /.box-body -->
          <div ng-show="bookLoading" class="overlay">
            <i class="fa fa-refresh fa-spin"></i>
          </div>
        </div><!-- /.box -->
      </div>
    <div class="col-lg-6 col-sm-6 col-xs-12">
      <div class="box box-primary md-whiteframe-z1">
        <div class="box-header with-border">
          <h3 class="box-title">Graphique</h3>
          <div class="box-tools pull-right">
            <div class="btn-group"></div>
          </div>
        </div>
        <div class="box-body row">
          <div id="pageGraph">
          </div>
        </div><!-- /.box-body -->
        <div ng-show="pagesLoading" class="overlay">
          <i class="fa fa-refresh fa-spin"></i>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-sm-6 col-xs-12">
      <!-- Default box -->
      <div class="box box-primary md-whiteframe-z1">
        <div class="box-header">
          <h3 class="box-title">Pages</h3>
        </div><!-- /.box-header -->
        <div class="box-body table-responsive no-padding">
          <table class="table table-hover">
            <tbody>
              <tr>
                <th style="width: 10px"><button disabled class="btn btn-primary fa fa-pencil md-whiteframe-z1"></button></th>
                <th>Titre</th>
                <th>Description</th>
                <th style="width: 10px"><button disabled class="btn btn-primary fa fa-close md-whiteframe-z1"></button></th>
              </tr>
              <tr ng-repeat="page in pages">
                <td><button ng-disabled="!book.draft" ui-sref="app.write.page({id:page.id})" class="btn btn-primary fa fa-pencil md-whiteframe-z1"></button></td>
                <td>{{page.title}}</td>
                <td>{{page.description}}</td>
                <td><button ng-disabled="!book.draft" ng-click="deletePage(page)" class="btn btn-primary fa fa-close md-whiteframe-z1"></button></td>
              </tr>
            </tbody>
          </table>
        </div><!-- /.box-body -->
        <div class="box-footer align-center">
          <button ng-click="addNewPage()" ng-disabled="!book.draft" class="btn btn-primary md-whiteframe-z1">
            Ajouter une nouvelle page
          </button>
        </div>
        <div ng-show="pagesLoading" class="overlay">
          <i class="fa fa-refresh fa-spin"></i>
        </div>
      </div>
    </div>
  </section><!-- /.content -->
  <!-- =============================================== -->
</div>
