@import '~styles/colors';

.transitionButton {
  text-align: left;
  background-color: $dark-background-color-1;
  padding: 10px 30px;
  margin: 10px 0;
  width: 100%;
}

.disabled {
  background-color: $dark-background-color-3;
}