@import '~styles/colors';
@import '~styles/sizes';
@import '~styles/mixins';

.component {
  display: flex;
  margin: 0 20px;
  height: 400px;
  padding: 20px 0;
  border-bottom: solid 1px $decorator-color;
}

.preview {
  flex-basis: 200px;
  flex-shrink: 0;
  height: 100%;  
  @media (min-width: 1170px) {
    flex-basis: 440px;
  }
  @media (min-width: 1560px) {
    flex-basis: 680px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 40px;
}

.synopsis {
  font-size: 1.2em;
  margin: 10px 0;
  text-align: justify;
  overflow: hidden;
}
