@import '~styles/colors';
@import '~styles/sizes';
@import '~styles/mixins';
@import '~styles/responsive';

.component {
  display: flex;
}

.editorWrapper {
  max-width: 900px;
  margin: 0 auto;
  padding: 50px 50px 20px;
  @media #{$mobile} {
    padding: 30px 20px;
  }
}

.transitionsPlaceholder {
  max-width: 1000px;

}

.gameTransitions {
  position: fixed;
  left: 77%;
  top: 0;
  right: 60px;
  padding-top: 20px;
  padding-bottom: 20px;
  @media #{$narrow-game} {
    position: static;
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    left: none;
    top: none;
  }
  @media #{$mobile} {
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;

  }
}

