<header class="main-header">
  <nav class="navbar navbar-static-top md-whiteframe-z1" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-bar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="fa fa-bars"></span>
        </button>
        <a class="navbar-brand" href="#/"><img class="logo-header" src="/app/images/logo.png"><span style="margin-left:10px">MyVirtualStoryBook</span></a>
      </div>
      <div class="collapse navbar-collapse" id="nav-bar-collapse">
        <ul class="nav navbar-nav">
          <li class="divider" ng-class="getClassIfActive($index)" ng-repeat="item in MenuItems">
            <a ng-if="item.url" ui-sref="{{item.url}}">{{item.label}}<span class="sr-only"></span>
            </a>
            <a ng-if="item.click" ng-click="item.click()">{{item.label}}<span class="sr-only"></span></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
    