/* Space out content a bit */

.navbar-brand{
  color:white;
}

.logo-signin{
  max-height:150px;
  max-width:150px;
}

.logo-header{
  max-height:35px;
  max-width:35px;
  float:left;
}

.pageText{
  font-size:1.5em;
  font-family:"Times New Roman";
  padding:30px;
  text-align:justify;
}

.transitionText{
  text-align:left;
  font-family:"Times New Roman";
  padding-left:60px;
}

/* Gestion des alerts et leurs animations */

.floatingAlerts{
  bottom:0;
  left:20px;
  z-index:400;
  position:fixed;
  width:300px;
  opacity:0.9;
}

.floatingAlerts.signin{
  top:10px;
  left:10px;
  z-index:400;
  position:relative;
  width:500px;
  text-align:justify;
  opacity:0.9;
}


.spaceLabel{
  margin-right:5px!important;
  margin-left:5px!important;
}

.align-center{
  text-align:center;
}

.margin-top{
  margin-top:10px;
}

.icon-tool{
  color:white;
  margin:7px;
  margin-left:0px;
}

.cover-preview{
  max-width:100%;
  max-height:100%;
}

.preview-container{
  height:100%;
}

.genre-icon{
  margin-left:5px;
}
.synopsis-preview{
  margin-top:10px;
}
.top-widget{
  padding:15px;
}

.float-left{
  float:left;
}

.small-box h4{
  margin-top:0px;
}

.bookTable tbody tr td{
  max-width:0px; /* Customise it accordingly */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

a:hover{
  cursor:pointer;
}

.compact{
  margin:0;
}

/* SIDE BAR STYLE */
.main-sidebar.right-sidebar{
  right:0;
  padding-top:0;
  z-index:2000;
  left:auto;
  -webkit-transform: none; /* Safari and Chrome */
  -moz-transform: none; /* Firefox */
  -ms-transform: none; /* IE 9 */
  -o-transform: none; /* Opera */
  transform: none;
}

.main-sidebar.right-sidebar.ng-hide{
  display:block!important;
  width:0;
}

.with-right-sidebar{
  -webkit-transform: translate(-230px, 0); 
  -ms-transform: translate(-230px, 0);
  -o-transform: translate(-230px, 0);
  transform: translate(-230px, 0); 
} 
.main-sidebar .pinned{
  position:absolute;
  left:-50px;
  top:0;
  background:#222d32;
  border-color:#222d32;
  color:white;
  height:50px;
  width:50px;
  border-radius: 0px;
}

.main-sidebar .pinned:hover{
  border-color:#222d32;
}

.main-sidebar .pinned:focus{
  background-color:#222d32;
  border-color:#222d32;
  color:white;
}


.main-sidebar .list-group-item{
  border-radius:0px;
}

.main-sidebar.ng-hide .badge{
  display:none;
}

.small-box.book-widget{
  /*height:200px;*/
}

.top-widget{
  /*height:174px;*/
}

.wrapper.custom-wrapper{
  background:#ecf0f5;
}
/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
/*.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}*

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}


/* D3 Styles */

.link {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}

circle {
  fill: #ccc;
  stroke: #333;
  stroke-width: 1.5px;
}

text {
  font: 10px sans-serif;
  pointer-events: none;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}