/* Space out content a bit */
body {
    position: relative;
    display:block;
}

.full {
  background: url(../images/portal.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.footer {
  background-color: white;
}

/* Portal CSS */

div.portalContainer>div{
    width:100%;
    margin:20px;
    text-align:center;
    /*opacity: 0.95;*/
    background-color: rgba(255,255,255,0.95);
}

div.portalContainer label.title{
    font-size:2em;
}

div.portalContainer>div label{
    display:block;
}

div.portalContainer>div button{
    min-width: 100px;
    margin-top: 0px;
}

div.portalContainer>div .alert{
    display:inline;
    padding-left:15px;
}

div.portalContainer>div div{
    text-align:left;
}

div.portalContainer>div>form>label{
    margin-top: 20px;
    margin-left: 5px;
}

div.portalContainer button span.glyphicon{
    margin-right: 1px;
}

span.left{
    float:right;
}

div.portalContainer>div div>span{
    margin-top: 50px;
    margin-left: 5px;
}

nav.navbar-static-top .nav{
    width:100%;
}

nav.navbar-static-top .nav li:last-of-type{
    float:right;
}

nav.navbar-static-top .nav span:last-child{
    float:right;
    cursor:default;
}

nav.navbar-static-top .nav span:last-child:hover{
}

.navbar-static-top{
  margin-bottom:0;
}
/*Common Css*/

.mainContainer{
  color:black;
  max-width:1750px!important;
  width:100%;
}
  
.mainContainer>.well{
  background-color: white;
  height:100%;
  background-color: rgba(255,255,255,0.70);
  width:100%;
}

.largeTd{
  min-width: 100px;
}

.coverPreview{
  max-height: 70%!important;
  max-width: 70%!important;
}

.bookInformations{
  height: 500px;
}

.livreContainer{
  heigth: 100px;
  overflow: scroll;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
