@import '~styles/colors';
@import '~styles/shadows';

.component {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;

  select {
    background: none;
    border: 0;
    background-color: $primary-color-light-1;
    border-radius: 3px;
    border-bottom: dashed 1px $black;
    outline: transparent;
    padding: 6px;
    &:focus{
      border-bottom: solid 1px $black;
    }
  }
}
