@import '~styles/colors.scss';
@import '~styles/shadows.scss';

.component {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  label {
    align-self: flex-start;
  }

  select {
    background: none;
    padding: 6px;
    border: 1px solid $grey-darken-20;
    outline: $light-blue;
  }
}
