.component {
  flex: 1;

  .body {
    display: flex;
    flex-direction: column;
    .publicationBtn {
      align-self: center;
    }
    .progressbar {
      display: flex;
      flex: 1;
    }
  }
}
