<div class="content-wrapper">

  <section class="content-header">
    <h1>Publier un livre</h1>
    <ol class="breadcrumb">
      <li><a ui-sref="app.play.books">MyVirtualStoryBook</a></li>
      <li class="active">Publier un livre</li>
    </ol>
  </section>
  <!-- Main content -->
  <section class="content">

    <!-- Default box -->
    <div class="box md-whiteframe-z1">
      <div class="box-body">
        <div class="box box-warning box-solid md-whiteframe-z1">
          <div class="box-header with-border">
            <h3 class="box-title">Information importante</h3>
          </div><!-- /.box-header -->
          <div class="box-body" style="display: block;">
            Publier l'un de vos brouillon créera une copie de celui-ci dans la section "Partage". Les autres membres de MyVirtualStoryBook pourrons alors trouver votre histoire dans la liste des livres jouables.
          </div><!-- /.box-body -->
        </div>
        <div class="input-group margin-top col-xs-12">
          <label>Brouillon que vous souhaitez publier</label>
          <select data-icon="fa fa-{{book.genre.icon}}" ng-model="bookToPublish" ng-options="book as book.name for book in books track by book.id" class="form-control">
            <option value="" selected>-- Choisissez un brouillon à publier --</option>
          </select>
        </div>
        <div ng-show="bookToPublish" class="row">
          <div class="col-md-6">
            <div class="row">
              <div class="col-xs-4">
                <img ng-src="{{bookToPublish.cover}}" class="cover-preview md-whiteframe-z1" alt="User Image">
              </div>
              <div class="col-xs-8">
                 Titre : {{bookToPublish.name}}
                 Genre : {{bookToPublish.genre.name}}
                 Synopsis : {{bookToPublish.synopsis}}
              </div>
            </div>
          </div>
          <div class="col-md-6">
             <a class="btn btn-app" ng-click="publishBook(bookToPublish)"><i class="fa fa-share-alt"></i>Publier {{bookToPublish.name}}</a>
             <div class="progress active">
                <div class="progress-bar progress-bar-primary progress-bar-striped" role="progressbar" style="width: {{loading}}%">
                  <span class="sr-only">{{loading}}%</span>
                </div>
          </div>
        </div>
      </div><!-- /.box-body -->
      <div ng-show="booksLoading" class="overlay">
        <i class="fa fa-refresh fa-spin"></i>
      </div>
    </div><!-- /.box -->
  </section><!-- /.content -->
</div>