.component {
  display: flex;
  flex: 1;

  &>div {
    display: flex;
    flex: 1;
  }
}

.selectInput {
  flex: 1;
  flex-direction: row;
  margin: 0;
  &>select {
    flex: 1;
    margin-right: 10px;
  }
}
