@import '~styles/colors';
@import '~styles/sizes';
@import '~styles/animations';

.component {
  margin: 0px 20px;
  color: $font-color;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.2em;
  cursor: pointer;

  &>a {
    text-decoration: none;
    color: $font-color;
  }

  &:hover {
    .tracker {
      transition: width $standard-duration;
      width: 100%;
    }
  }
}

.tracker {
  width: 0;
  margin-top: 2px;
  background-color: $secondary-color;
  height: 3px;
}

.selected {
  transition: width $standard-duration;
  width: 100%;
}
