@import '~styles/colors.scss';
@import '~styles/shadows.scss';

.component {
  display: flex;
  flex-direction: column;
  margin-top: 10px;

  label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input {
    padding: 7px;
    border: 1px solid $grey-darken-20;
  }
}
