<div class="content-wrapper">
  <section class="content-header">
    <h1>Les livres disponibles</h1>
    <ol class="breadcrumb">
      <li><a ui-sref="app.play.books">MyVirtualStoryBook</a></li>
      <li class="active">Les livres disponibles</li>
    </ol>
  </section>
  <section class="content">
    <!-- Default box -->
    <div class="box md-whiteframe-z1">
      <div class="box-body">
        <div class="row">
          <div ng-hide="books.length || booksLoading" class="col-lg-6 col-sm-6 col-xs-12">
            <div class="callout md-whiteframe-z1">
              <h4>Aucun livre disponible</h4>
              <p>Personne n'a encore publié de livre, attendez que quelqu'un en publie un ou créez votre propre livre et publiez le !</p>
            </div>
          </div>
          <div ng-if="books.length > 0" style="height:500px">
            <common-carousel list="books" carousel-index="bookListIndex"></common-carousel>
          </div>
          <div ng-repeat="book in books" class="col-lg-6 col-sm-6 col-xs-12">
            <div class="small-box bg-primary book-widget md-whiteframe-z1">
              <div class="row top-widget">
                <div class="col-lg-3 col-sm-3 col-xs-4 preview-container">              
                  <img ng-src="{{book.cover}}" class="cover-preview" alt="User Image">
                </div>
                <div class="col-lg-9 col-sm-9 col-xs-8 inner">
                  <h4>{{book.name}}</h4>
                  <h4 class="label label-primary" ng-class="{'label-success':isAuthor(book)}">{{book.author.username}}</h4>
                  <h4 ng-if="book.genre" class="label label-primary">{{book.genre.name}} <i class="fa fa-{{book.genre.icon}} genre-icon"></i></h4>
                  <div class="inner synopsis-preview">{{book.synopsis}}</div>
                </div>
              </div>
              <a ng-click="newGame(book)" class="small-box-footer">
                Jouer <i class="fa fa-arrow-circle-right"></i>
              </a>
            </div>
          </div>
        </div>
      </div><!-- /.box-body -->
      <div ng-show="booksLoading" class="overlay">
          <i class="fa fa-refresh fa-spin"></i>
      </div>
      <div class="box-footer">
      </div><!-- /.box-footer-->
    </div><!-- /.box -->
  </section><!-- /.content -->
</div>