<div class="content-wrapper">
    <section class="content-header">
      <h1>Mes parties en cours</h1>
      <ol class="breadcrumb">
        <li><a ui-sref="app.play.books">MyVirtualStoryBook</a></li>
        <li class="active">Mes parties</li>
      </ol>
    </section>
  <!-- Main content -->
  <section class="content">
    <!-- Default box -->
    <div class="box md-whiteframe-z1">
      <div class="box-body">
        <div class="row">
          <div ng-hide="games.length || gamesLoading" class="col-lg-6 col-sm-6 col-xs-12">
            <div class="callout md-whiteframe-z1">
              <h4>Vous n'avez pas de partie en cours</h4>
              <p>Rendez vous sur la page "Les livres", laissez vous tenter par une histoire et lancez une partie !</p>
            </div>
          </div>
          <div ng-repeat="game in games" class="col-lg-6 col-sm-6 col-xs-12">
            <div class="small-box bg-navy book-widget md-whiteframe-z2">
              <div class="box-tools pull-right">
                <a class="fa fa-remove icon-tool" ng-click="openDeleteGameModal(game)"></a>
              </div>
              <div class="row top-widget">
                <div class="col-lg-3 col-sm-3 col-xs-4 preview-container">              
                  <img ng-src="{{game.book.cover}}" class="cover-preview" alt="User Image">
                </div>
                <div class="col-lg-9 col-sm-9 col-xs-8 inner">
                  <h4><h4>{{game.book.name}}</h4></h4>
                  <h4 class="label label-primary">Page : {{game.current_page.title}}</h4>
                  <div class="inner synopsis-preview">{{game.book.synopsis}}</div>
                </div>
              </div>
              <a ui-sref="app.play.playing({id:game.id})" class="small-box-footer">
                Jouer <i class="fa fa-arrow-circle-right"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div ng-show="gamesLoading" class="overlay">
        <i class="fa fa-refresh fa-spin"></i>
      </div>
    </div><!-- /.box -->
  </section><!-- /.content -->
</div>