@import '~styles/colors';

.component {
  position: relative;
  text-align: center;
  padding: 5px 0;
  width: 100%;
}

.name {

}

.hover {

}

.description {
  padding: 1em 1.5em;
  position: absolute;
  background-color: $dark-background-color-3;
  font-size: 1.1em;
  top: 0;
  left: 110%;
  opacity: 0;
  transition: 0.3s;
  z-index: 99999;
  border-radius: 4px;
  min-width: 600%;
}

.description::before {
  content: '';
  position: absolute;
  top: 30px;
  left: -10px;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-right: 10px solid $dark-background-color-3;
  border-bottom: 7px solid transparent;
  transform: translate(0, -50%);
}

.hover:hover ~ .description {
  opacity: 1;
}
