@import '~styles/sizes';
@import '~styles/colors';
@import '~styles/mixins';
@import '~styles/responsive';

.panel {
  @include scrollbar();
  box-sizing: border-box;
  position: sticky;
  top: 0;
  flex-shrink: 1000;
  overflow-y: auto;
  overflow-x: hidden;
}