@import '~styles/colors';

.component {
  border: 0;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $primary-color;
  background-color: $background-color-light-2;
  border-radius: 5px;
}
