@import '~styles/colors';

.component {
  flex-direction: column;
}

.panel {
  flex-direction: row;
  margin-bottom: 10px;
  align-items: center;
  justify-content: flex-start;
  &>span {
    flex: 0.12;
    font-weight: bold;
  }
  .panelButton {
    flex: 0;
    padding: 1px 5px;
    margin-left: 15px;
    font-size: 12px;
    color: $white !important;
  }
  .deleteTransition {
    position: relative;
    float: right;
    padding: 1px 5px;
    margin-left: auto;
    &>i {
      margin: 0;
    }
  }
}

.destPage {
  display: flex;
  flex-direction: row;
  flex: 0.5;
  &>select {
    background-color: $white;
  }
}

.body {
  flex-direction: column;
  flex: 1;
  &>div {
    margin-top: 0;
  }
}
