@import '~styles/colors';

.component {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  color: $dark-primary-color;
  font-size: 1.1em;
  &>div {
    text-align: center;
    padding-bottom: 10px;
  }
}