@import '~styles/colors';
@import '~styles/responsive';

.component {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  color: $dark-primary-color;
  font-size: 1.1em;
  @media #{$mobile} {
    flex-direction: row;
  }
}