@import '~styles/colors';
@import '~styles/sizes';
@import '~styles/responsive';

.component {
  position: relative;
  text-align: center;
  padding-bottom: 10px;
  @media #{$mobile} {
    padding: 0 10px;
  }
}

.name {
  font-weight: bold;
}



// .description {
//   padding: 1em 1.5em;
//   position: absolute;
//   background-color: $dark-background-color-3;
//   font-size: 1.1em;
//   top: 0;
//   left: 110%;
//   visibility: hidden;
//   opacity: 0;
//   transition: visibility 0s, opacity .3s;
//   z-index: 99999;
//   border-radius: 4px;
//   @media #{$mobile} {
//     top: unset;
//     bottom: 160%;
//     left: 0;
//     min-width: 300%;
//   }
// }

// .description::before {
//   content: '';
//   position: absolute;
//   top: 30px;
//   left: -10px;
//   width: 0;
//   height: 0;
//   border-top: 7px solid transparent;
//   border-right: 10px solid $dark-background-color-3;
//   border-bottom: 7px solid transparent;
//   transform: translate(0, -50%);
//   @media #{$mobile} {
//     top: 99%;
//     left: 34px;
//     transform: rotate(-0.25turn);
//   }
// }

// .hover:hover ~ .description {
//   visibility: visible;
//   opacity: 1;
// }
