@import '~styles/colors';
@import '~styles/shadows';


.component {
  display: inline-flex;
  width: 100%;
  padding: 20px;
}

.actionPanel {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 0 20px;
}

.bookCover {
  margin: 0 auto;
  width: 100%;
  padding-bottom: 20px;
}

.bookInformation {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 10px;
  width: 100%;
  > div {
    flex-grow: 0;
    margin-bottom: 10px;
  }
}

.delete {
  margin-top: 5px;
  background-color: $background-error;
}

.publish {
  margin: 5px 0 20px 0;
}

.alertMessage {
  padding: 10px;
  box-shadow: $box-shadow-1;
  background-color: $background-error;
  margin-bottom: 10px;
  color: $white;
}