.component {
  display: flex;
  width: 100%;

  table {
    align-items: stretch;
    flex-direction: row;
    tr {
      background-color: transparent !important;
    }
    th {
      border: none !important;
    }
    td {
      border: none !important;
      vertical-align: middle !important;
    }
  }
}
