.toolbarIcon {
  float: left;
}

.toolbarIconLink {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.toolbarIconLink:hover {
  background-color: #2e6da4;
}
