@import '~styles/colors';

.toolbarIcon {
  float: left;
}

.toolbarIconLink {
  color: $white;
  display: block;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;

  &:hover {
    background-color: $blue;
  }
}
