@import '~styles/colors';

.component {
  width: 100%;
  padding: 20px;
  background-color: $background-color-dark-2;
  overflow: hidden;
}

.destination {
  &>span {
    flex: 0.12;
    font-weight: bold;
  }
  .destinationRow {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.selectPage {
  min-width: 400px;
}

.body {
  flex-direction: column;
  flex: 1;
  &>div {
    margin-top: 0;
  }
}
