@import '~styles/colors';
@import '~styles/sizes';
@import '~styles/mixins';
@import '~styles/responsive';

.component {
  max-width: 900px;
  padding: 50px 50px 50px 0;
  @media #{$mobile} {
    padding: 30px 20px 30px 0;
  }
}