/* Space out content a bit */

body{
  overflow-y:scroll!important;
}

.margin-left{
  margin-left:10px;
}

.tooltip-lg{
  width:600px;
}

.introjs-tooltiptext{
   text-align: justify;
}

.skin-blue.layout-top-nav .main-header > .logo{
  position:relative;
  z-index:5000;
  background-color:#367fa9;
}

.skin-blue.layout-top-nav .main-header > .logo:hover{
  background-color:#367fa9;
}

.navbar-brand{
  color:white;
}

.logo-signin{
  max-height:150px;
  max-width:150px;
}

.logo-header{
  max-height:30px;
  max-width:30px;
  margin-right:5px;
  vertical-align:initial;
}

.pageText{
  font-size:1.5em;
  font-family:Arial, Helvetica, sans-serif;
  padding:30px;
  text-align:justify;
}

.transitionText{
  text-align:left;
  font-family:"Times New Roman";
  padding-left:60px;
  white-space:normal;
  border-radius:0!important;
}

/* Gestion des alerts et leurs animations */

.floatingAlerts{
  bottom:0;
  left:20px;
  z-index:400;
  position:fixed;
  width:300px;
  opacity:0.9;
}

.floatingAlerts.signin{
  top:10px;
  left:10px;
  z-index:400;
  position:relative;
  width:500px;
  text-align:justify;
  opacity:0.9;
}


.spaceLabel{
  margin-right:5px!important;
  margin-left:5px!important;
}

.align-center{
  text-align:center;
}

.float-right{
  float:right;
}

.margin-top{
  margin-top:10px;
}

.icon-tool{
  color:white;
  margin:7px;
  margin-left:0px;
}

.cover-preview{
  max-width:100%;
  max-height:100%;
}

.cover-preview.tiny{
  max-width:50px;
  max-height:50px;
}

.preview-container{
  height:100%;
}

.genre-icon{
  margin-left:10px;
}
.synopsis-preview{
  margin-top:10px;
}
.top-widget{
  padding:15px;
}

.float-left{
  float:left;
}

.small-box h4{
  margin-top:0px;
}

.bookTable tbody tr td{
  max-width:0px; /* Customise it accordingly */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

a:hover{
  cursor:pointer;
}

.compact{
  margin:0;
}


.top-widget{
  /*height:174px;*/
}

.wrapper.custom-wrapper{
  background:#ecf0f5;
}
/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
/*.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}*

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}


/* D3 Styles */

.link {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}

circle {
  fill: #ccc;
  stroke: #333;
  stroke-width: 1.5px;
}

text {
  font: 10px sans-serif;
  pointer-events: none;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}

ul[rn-carousel]{
  height: 500px;
  width: 70%;
  margin-left:15%;
}

ul[rn-carousel] .layer{
  height: 100%;
}

ul[rn-carousel] .layer>img{
  height: 80%;
}

.carousel-thumbnail{
  height: 100px;
  width: 100px;
  display:inline-block;
  margin:10px;
}

.carousel-thumbnail-img{
  max-height:100%;
  max-width:100%;
}

.carousel-thumbnail.active>img {
  border: 2px solid red;
}

.rn-carousel-control.rn-carousel-control-prev{
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 2em;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
  text-align:center;
  height:30px;
  width:30px;
}
.rn-carousel-control.rn-carousel-control-prev:before{
  content: "\f137";
}

.rn-carousel-control.rn-carousel-control-next{
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 2em;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
  text-align:center;
  height:30px;
  width:30px;
}
.rn-carousel-control.rn-carousel-control-next:before{
  content: "\f138";
}

.musicPopUp{
  position:fixed;
  bottom:20px;
  right:20px;
  z-index:9001;
}

.margin-right{
  margin-right:10px;
}

.full-width{
  width:100%;
}