@import '~styles/colors';
@import '~styles/shadows';

.component {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-bottom: 10px;

  input {
    border: none;
    outline-color: transparent;
    background-color: $primary-color-light-1;
    border-radius: 3px;
    border-bottom: dashed 1px $black;
    padding: 6px;
    width: 100%;
    &:focus{
      border-bottom: solid 1px $black;
    }
  }
}
