@import '~styles/colors';
@import '~styles/shadows';

.component {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-bottom: 10px;

  .input {
    border: none;
    outline-color: none;
    padding: 6px;
    width: 100%;
  }
}
