@import '~styles/colors';
@import '~styles/sizes';

.wrapper {
  position: fixed;
  display: flex;
  height: 100vh;
  z-index: 1050;
  top: 0;
  width: $content-size;
  
  .content {
    box-sizing: border-box;
    color: $dark-font-color;
    width: 100%;
    padding: 50px;
    background-color: $dark-background-color-2;
    display: flex;
    text-align: justify;
    justify-content: center;
    font-size: 1.5em;
    overflow-y: scroll;
  }
}
