<div class="wrapper" style="background-color:#ecf0f5;">
  <div class="box">
    <div class="box-header with-border">
      <h3 class="box-title">News</h3>
    </div>
    <div class="box-body">
      <div class="-floatingAlerts signin">
        <div class="" role="alert">
          Bienvenue sur la version <strong>Béta</strong> de <strong>MyVirtualStoryBook</strong> si vous souhaitez jeter un oeil vous pouvez utiliser le compte commun de test <br/>
          Nom d'utilisateur : <strong>Mvsb</strong> <br/>
          Mot de passe : <strong>mvsb</strong> <br/>
          Pour toute remarque, suggestion ou si vous souhaitez un accès personnel <br/>
          envoyez un mail à <strong>myvirtualstorybook@gmail.com</strong> <br/>
          <br/>
          Derniers ajouts 17 Septembre : <br/>
          <br/>
          Ajout des stats et objets dans les livres <br/>
          <a href="https://www.facebook.com/myvirtualstorybook?ref=ts&fref=ts">https://www.facebook.com/myvirtualstorybook?ref=ts&fref=ts</a><br/>
        </div>
      </div>
    </div>
  </div>
  <div class="login-box">
    <div class="login-logo">
      <a>
        <img class="logo-signin" src="/app/images/logo/logo300x300.png">
      <b>MyVirtualStoryBook</b></a>
    </div><!-- /.login-logo -->
    <div class="box md-whiteframe-z2">
      <div class="box-body">
        <div class="box-header with-border align-center">
          <h3 class="box-title">Completez le formulaire d'inscription</h3>
        </div>
        <form name="loginForm">
          <div class="input-group margin-top col-xs-12">
            <label>Nom d'utilisateur</label>
            <input type="text"  max="30" name="username" class="form-control" placeholder="Entrez votre nom d'utilisateur" ng-model="user.username" ng-change="displayMessage = false" required>
          </div>
          <div class="input-group margin-top col-xs-12">
            <label>Adresse mail</label>
            <input type="text"  max="30" name="username" class="form-control" placeholder="Entrez votre addresse mail" ng-model="user.email" ng-change="displayMessage = false" required>
          </div>
          <div class="input-group margin-top col-xs-12">
            <label>Mot de passe</label>
            <input type="password" class="form-control" placeholder="Entrez votre mot de passe" ng-model="user.password" ng-change="displayMessage = false" required>
          </div>
          <div class="input-group margin-top col-xs-12">
            <label>Mot de passe (vérification)</label>
            <input type="password" class="form-control" placeholder="Vérifiez votre mot de passe" ng-model="user.verifyPassword" ng-change="displayMessage = false" required>
          </div>
          <div class="row margin-top">
            <div class="col-xs-12">
              <button style="width:100%" type="submit" ng-click="subscribe()" class="btn btn-primary">S'inscrire</md-button>
            </div><!-- /.col -->
          </div>
          <div ng-show="displayMessage" class="row margin-top">
              <div style="color:red; text-align:center" class="col-xs-12">{{displayMessageText}}</div>
          </div>
          <div class="row margin-top">
              <div class="col-xs-12">Déjà inscris ? <a ui-sref="signin">Connecte toi !</a></div>
          </div>
        </form>
      </div>
    </div><!-- /.login-box-body -->
  </div>
</div>
