.component {
  &> span {
    font-weight: bold;
  }
}

.row {
  display: inline-flex;
  width: 100%;
  align-items: center;
  flex: 1;
}

.small {
  max-width: 60px;
  display: flex;
  justify-content: center;
}

.selectInput {
  flex-direction: row;
  flex: 1;
  &>select {
    flex: 1;
    margin: 0 10px;
  }
}

.input {
  flex: 1;
  margin: 0 10px;
}
