@import '~styles/colors';

.links {
  fill: none;
  stroke: $black;
  stroke-width: 3px;
}

.arrow {
  fill: $black;
}

.text {
  font: 12px sans-serif;
  pointer-events: none;
}

.circle {
  fill: $grey-darken-20;
  stroke: $black;
  stroke-width: 2px;
}
