.links {
  stroke: #000;
  stroke-width: 3px;
  fill: none;
}

.arrow {
  fill: #000;
}

.text {
  font: 12px sans-serif;
  pointer-events: none;
}

.circle {
  fill: #aaa;
  stroke: #000;
  stroke-width: 2px;
}
