.component{

  a.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    .logoHeader {
      max-height: 30px;
      margin-top: -7px;
      margin-right: 10px;
    } 
  }
}
