@import '~styles/colors.scss';

.component {
  background-color: $blue-grey;
  display: flex;
  font-family: 'Roboto';
  min-height: 100vh;

}

.wrapper {
  margin: 15vh auto;
  width: 500px;

  .title {
    display: flex;
    flex-direction: column;
    font-size: 35px;
    margin-bottom: 20px;
    text-align: center;
    width: 500px;

    &>img {
      margin: auto;
      max-height: 150px;
      max-width: 150px;
    }
  }
}
