@import '~styles/colors';
@import '~styles/shadows';

.link {
  margin: 10px 0;
  text-align: center;
  &>a {
    text-decoration: none;
  }
}

.icon {
  display: flex;
  align-items: center;
  border-radius: 5px;
  justify-content: center;
  font-size: 2.5em;
  background-color: $background-color;
  transition: box-shadow ease-in 100ms;
  width: 60px;
  height: 60px;
  cursor: pointer;
  &:hover {
    box-shadow: $box-shadow-1;
  }
}

.dark {
  background-color: $dark-grey;
  color: $white;
}
