@import "~styles/colors";
@import "~styles/sizes";
@import "~styles/mixins";
@import "~styles/responsive";
.component {
  // @include scrollbar();
  // height: $tab-content-size;
  // overflow: auto;
}

.message {
  text-align: center;
}

.list {
  flex-wrap: wrap;
  display: flex;
  justify-content: flex-start;
}

.book {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  margin: 20px;
  height: 300px;
  @media #{$mobile} {
    width: calc(100vw - 30px);
    margin: 15px;
    height: calc((100vw - 30px) * 1.34);
  }
}
