@import '~styles/colors';
@import '~styles/shadows';

.component {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;

  select {
    background: none;
    border: 1px solid $grey-darken-20;
    outline: $light-blue;
    padding: 6px;
  }
}
