@import '~styles/colors';
@import '~styles/shadows';
@import '~styles/animations';

.component {
  opacity: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 2px;
  font-size: 1.4em;
  cursor: pointer;
  transform: rotateZ(360deg);
  transition: width $standard-duration, height $standard-duration, opacity $standard-duration;
  &:hover {
    .coverImage {
      transform: scale(1.1);
    }
  }
  &.displayed {
    opacity: 1;
  }
}

.cover {
  height: 100%;
  overflow: hidden;
  box-shadow: $box-shadow-1;
}

.coverImage {
  transition: transform $standard-duration;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
}

.content {
  position: relative;
  bottom: 300px;
  height: 300px;
  display: flex;
  align-items: flex-end;
}

.contentTitle {
  width: 100%;
  color: $transparent-white;
  background-color: $transparent-black;
  padding: 10px;
}

.bookName {
  overflow: hidden;
  text-overflow: ellipsis;
}

.delete {
  position: relative;
  height: 0;
  width: 100%;
  .action {
    position: absolute;
    display: flex;
    justify-content: center;
    right: 0;
    z-index: 100;
    margin: 5px;
    font-size: 50px;
    box-shadow: $box-shadow-1;
    transition: box-shadow ease-in 100ms;
    cursor: pointer;
    &:hover {
      box-shadow: $box-shadow-2;
    }
  }
}