<div class="content-wrapper">
    <section class="content-header"><h1>Les livres</h1></section>
    <section class="content">
        <div class="row">
            <div class="col-md-6">
                <div class="box box-primary box-solid">
                    <div class="box-header with-border">
                      <h3 class="box-title">Livres</h3>
                    </div>
                    
                    <div class="box-body compact">
                        <table class="table table-bordered table-hover dataTable bookTable">
                            <thead>
                              <tr role="row">
                                  <th class="col-xs-2 col-sm-2 col-md-2" role="columnheader" rowspan="1" colspan="1">Livre</th>
                                  <th class="col-xs-1 col-sm-1 col-md-1" role="columnheader" rowspan="1" colspan="1">Genre</th>
                                  <th class="col-xs-4 col-sm-4 col-md-4" role="columnheader" rowspan="1" colspan="1">Personnage</th>
                                  <th class="col-xs-2 col-sm-2 col-md-1" role="columnheader" rowspan="1" colspan="1">Page</th>
                            </thead>
                            <tr ng-repeat="game in games" ng-click="selectGame(game)">
                                <td>{{game.book.name}}</td>
                                <td>{{game.book.genre}}</td>
                                <td>{{game.character.name}}</td>
                                <td>{{game.currentPage}}</td>
                            </tr>
                        </table>
                        
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="box box-primary box-solid" data-spy="affix" data-offset-top="6">
                    <div class="box-header with-border">
                      <h3 class="box-title">Previsualisation</h3>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-xs-6">
                                   <div>
                                       <h2>{{displayedGame.book.name}}</h2>
                                   </div>
                                   <div>
                                       <span class="spaceLabel glyphicon" ng-class="getGenreIcon(displayedGame.book.genre)"></span>
                                       {{displayedGame.book.genre}}
                                   </div>
                                   <div class="list-group-item menuTitle">
                                        {{displayedGame.character.name}}
                                    </div>
                                    <div class="list-group-item subList btn btn-default" ng-click="displayStats = !displayStats">
                                        <span class="badge">{{displayedGame.character.stats.length}}</span>
                                        Caractéristiques
                                    </div>
                                    <div class="list-group-item subItem" tooltip-placement="left" tooltip="{{stat.description}}" ng-show="displayStats" ng-repeat="stat in displayedGame.character.stats">
                                          {{stat.name}} : {{stat.value}}
                                    </div>
                                    <div class="list-group-item subList btn btn-default" ng-click="displayObjects = !displayObjects">
                                        <span class="badge">{{displayedGame.character.objects.length}}</span>
                                        Objets
                                    </div>
                                    <div class="list-group-item subItem" ng-show="displayObjects" tooltip-placement="left" tooltip="{{object.description}}" ng-repeat="object in displayedGame.character.objects">
                                          {{object.name}}
                                    </div>
                                    <div>
                                        Synopsis : <br/>
                                        {{displayedGame.book.synopsis}}
                                    </div>
                                </div>
                                <div class="coverRow col-xs-6 pull-right">
                                   <img class="coverPreview" src="{{displayedGame.book.cover}}" alt="Book cover"> 
                                </div>
                            </div>
                            <button type="button" class="btn btn-default btn-lg" ui-sref="game({ id: displayedGame.id })">
                                Jouer !
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>