@import '~styles/colors';

.component {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $dark-primary-color;
  font-size: 1.1em;
}

.item {
  text-align: center;
  padding-bottom: 10px;
}

.title {
  font-weight: bold;
}