.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 9999;
}

.overflow {
  width: 500px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.perspective {
  position: relative;
  // border: 1px solid red;
  width: 500px;
  height: 150px;
  perspective: 1000px;
}

.carousel {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  // border: 1px solid yellow;
}

.cell {
  display: block;
  position: absolute;
  width: 500px;
  height: 150px;
  color: white;
  font-size: 8rem;
  text-align: center;
  vertical-align: middle;
  line-height: 130px;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  // border: 1px solid black;
  overflow: hidden;
}
