<!-- Menu de droite -->
<div class="rightMenu">
    <button class="rightMenuButton" ng-click="displayMenu = !displayMenu">
        <span class="glyphicon" ng-class="{'glyphicon-chevron-left':!displayMenu, 'glyphicon-chevron-right':displayMenu}" aria-hidden="true"></span>
    </button>
    <div ng-show="displayMenu" class="rightMenuContent">
        <div class="list-group">
          <div class="list-group-item menuTitle">
              {{currentGame.character.name}}
          </div>
          <div class="list-group-item subList btn btn-default" ng-click="displayStats = !displayStats">
              <span class="badge">{{currentGame.character.stats.length}}</span>
              Caractéristiques
          </div>
          <div class="list-group-item subItem" tooltip-placement="left" tooltip="{{stat.description}}" ng-show="displayStats" ng-repeat="stat in currentGame.character.stats">
                {{stat.name}} : {{stat.value}}
          </div>
          <div class="list-group-item subList btn btn-default" ng-click="displayObjects = !displayObjects">
              <span class="badge">{{currentGame.character.objects.length}}</span>
              Objets
          </div>
          <div class="list-group-item subItem" ng-show="displayObjects" tooltip-placement="left" tooltip="{{object.description}}" ng-repeat="object in currentGame.character.objects">
                {{object.name}}
          </div>
        </div>
    </div>
</div>

<!-- Contenu de la page -->
<div class="content-wrapper">
    <section class="content-header"><h1>Partie en cours</h1></section>
    <section class="content">
    </section>
</div>