@import '~styles/colors';

.error {
  padding: 5px;
  background-color: $background-error;
  color: $white;
  text-align: center;
  border-radius: 5px;
}

.success {
  padding: 5px;
  background-color: $background-sucess;
  color: $white;
  text-align: center;
  border-radius: 5px;
}