@import '~styles/mixins';
@import '~styles/sizes';
@import '~styles/responsive';

.component {
  @include scrollbar();
  height: $tab-content-size;
  overflow-y: scroll;
  @media #{$mobile} {
    height: $tab-content-mobile-size;
  }
}
