@import '~styles/colors';

.component {
  text-align: left;
  background-color: $dark-background-color-1;
  padding: 10px 30px;
  margin: 10px 0;
  width: 100%;
 }

.error {
  text-align: right;
}

.disabled {
  background-color: $dark-background-color-3;
}