<ng-include src="'feature/common/header/Header.template.html'"></ng-include>
<!-- Contenu de la page -->
<div class="content-wrapper" ng-class="{'with-right-sidebar': showRightMenu}">
  <!-- Content Header (Page header) -->
  <section class="content-header">
  </section>
  <!-- Main content -->
  <section class="content">
    <div class="row">
      <!-- Default box -->
      <div class="col-lg-12 col-sm-12 col-xs-12">
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">Votre livre</h3>
            <div class="box-tools pull-right">
              <div class="btn-group">
                <label class="label label-success" ng-if="init && !book.draft"><i class="fa fa-book"></i> Publié</label>
                <label class="label label-danger" ng-if="init && book.draft"><i class="fa fa-pencil"></i> Brouillon</label>
              </div>
            </div>
          </div>
          <div class="box-body row">
            <div class="col-lg-3 col-sm-3 col-xs-3 changer-cover">              
              <img src="{{book.cover}}" class="cover-preview" alt="User Image">
              <div class="input-group margin-top">
                  <span class="input-group-addon">URL</span>
                  <input type="text"  max="20" name="cover" class="form-control" placeholder="url de l'image de couverture" ng-model="book.cover" ng-change="displayMessage = false" required>
              </div>
            </div>
            <div class="col-lg-9 col-sm-9 col-xs-9">
              <div class="input-group margin-top col-lg-12 col-sm-12 col-xs-12">
                  <label>Titre</label> 
                  <input type="text" ng-disabled="!book.draft"  max="20" name="cover" class="form-control" placeholder="Titre du livre" ng-model="book.name" ng-change="displayMessage = false" required>
              </div>
              <div class="input-group margin-top col-lg-12 col-sm-12 col-xs-12">
                <label>Genre</label>
                <select ng-model="selectedGenre" ng-disabled="!book.draft" ng-options="genre.id as genre.name for genre in genres" ng-change="book.genre = genres[selectedGenre-1]" class="form-control">
                </select>
              </div>
              <div class="input-group margin-top col-lg-12 col-sm-12 col-xs-12">
                <label>Synopsis</label> 
                <input type="textarea" rows="5" name="synopsis" class="form-control" placeholder="Synopsis" ng-model="book.synopsis" ng-change="displayMessage = false" required>
              </div>
            </div>
          </div><!-- /.box-body -->
        </div><!-- /.box -->
      </div>
    <div class="col-lg-6 col-sm-6 col-xs-12">
      <div class="box box-primary ">
        <div class="box-header with-border">
          <h3 class="box-title">Graphique</h3>
          <div class="box-tools pull-right">
            <div class="btn-group"></div>
          </div>
        </div>
        <div class="box-body row">
          <div id="pageGraph">
          </div>
        </div><!-- /.box-body -->
      </div>
    </div>
    <div class="col-lg-6 col-sm-6 col-xs-12">
      <!-- Default box -->
      <div class="box box-primary">
        <div class="box-header">
          <h3 class="box-title">Pages</h3>
        </div><!-- /.box-header -->
        <div class="box-body table-responsive no-padding">
          <table class="table table-hover">
            <tbody>
              <tr>
                <th style="width: 10px"><button disabled class="btn btn-primary fa fa-pencil"></button></th>
                <th>Titre</th>
                <th>Description</th>
                <th style="width: 10px"><button disabled class="btn btn-primary fa fa-close"></button></th>
              </tr>
              <tr ng-repeat="page in pages">
                <td><button ng-disabled="!book.draft" ng-click="editPage(page)" class="btn btn-primary fa fa-pencil"></button></td>
                <td>{{page.title}}</td>
                <td>{{page.description}}</td>
                <td><button ng-disabled="!book.draft" ng-click="deletePage(page)" class="btn btn-primary fa fa-close"></button></td>
              </tr>
            </tbody>
          </table>
        </div><!-- /.box-body -->
        <div class="box-footer align-center">
          <button ng-click="addNewPage()" ng-disabled="!book.draft" class="btn btn-primary">
            Ajouter une nouvelle page
          </button>
        </div>
      </div>
    </div>
  </section><!-- /.content -->
  <!-- =============================================== -->
</div>
<ng-include src="'feature/common/footer/Footer.template.html'"></ng-include>