<ng-include src="'feature/common/header/Header.template.html'"></ng-include>
<!-- Contenu de la page -->
<div class="content-wrapper" ng-class="{'with-right-sidebar': showRightMenu}">
  <!-- Content Header (Page header) -->
  <section class="content-header">
  </section>
  <!-- Main content -->
  <section class="content">
    <div class="row">
      <!-- Default box -->
    <div class="col-xs-12">
      <div class="box box-primary ">
        <div class="box-header with-border">
          <h3 class="box-title">Informations générales</h3>
          <div class="box-tools pull-right">
            <div class="btn-group"></div>
          </div>
        </div>
        <div class="box-body">
          <div class="row">
            <div class="col-sm-4 col-xs-12">
              <div class="input-group margin-top col-xs-12">
                <label>Titre</label> 
                <input type="text" name="cover" class="form-control" placeholder="Titre de la page" ng-model="page.title" ng-change="displayMessage = false" required>
              </div>
            </div>
            <div class="col-lg-8 col-sm-8 col-xs-12">
              <div class="input-group margin-top col-xs-12">
                <label>Memo</label> 
                <input type="text" name="cover" class="form-control" placeholder="Decrivez rapidement ce qu'il se passe dans votre page" ng-model="page.description" ng-change="displayMessage = false" required>
              </div>
            </div>
          </div>
        </div><!-- /.box-body -->
      </div>
    </div>
    <div class="col-xs-12">
      <div class="box box-primary ">
        <div class="box-header with-border">
          <h3 class="box-title">Contenu</h3>
          <div class="box-tools pull-right">
            <div class="btn-group"></div>
          </div>
        </div>
        <div class="box-body">
          <div class="row">
            <div class="col-xs-12">
              <!--
              <textarea rows="10" name="cover" class="form-control" placeholder="L'histoire racontée dans cette page" ng-model="page.text" required></textarea>
              -->
              <div text-angular ng-model="page.text"></div>
            </div>
            <!--
            <div class="col-sm-6 col-xs-12">
              <img ng-src="{{page.image}}" class="cover-preview" alt="Prévisualisation image de la page">
              <div class="input-group margin-top">
                  <span class="input-group-addon">URL</span>
                  <input type="text" name="cover" class="form-control" placeholder="url de l'image de couverture" ng-model="page.image" required>
              </div>
            </div>
            -->
          </div>
        </div><!-- /.box-body -->
      </div>
    </div>
    <div class="col-xs-12">
      <!-- Default box -->
      <div class="box box-primary">
        <div class="box-header">
          <h3 class="box-title">Transitions</h3>
        </div><!-- /.box-header -->
        <div class="box-body table-responsive no-padding">
          <table class="table table-hover">
            <tbody>
              <tr>
                <th>Page de destination</th>
                <th>Texte de transition</th>
                <th style="width: 10px"><button disabled class="btn btn-primary fa fa-close"></button></th>
              </tr>
              <tr ng-repeat="transition in page.transitions">
                <td><select ng-model="transition.selectedPage" ng-options="page.id as page.title for page in pages" ng-change="transition.to_page = pages[getPageArrayKey(transition.selectedPage)]" class="form-control">
                </select></td>
                <td><textarea rows="5" name="cover" class="form-control" placeholder="Texte de la transition" ng-model="transition.text" ng-change="displayMessage = false" required></textarea></td>
                <td><button ng-click="deleteTransition(transition)" class="btn btn-primary fa fa-close"></button></td>
              </tr>
            </tbody>
          </table>
        </div><!-- /.box-body -->
        <div class="box-footer align-center">
          <button ng-click="addNewTransition()" class="btn btn-primary">
            Ajouter une transition
          </button>
        </div>
      </div>
    </div>
  </section><!-- /.content -->
  <!-- =============================================== -->
</div>
<div class="floatingAlerts">
  <alert ng-repeat="alert in alerts" ng-animate="'animate'" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
</div>
<ng-include src="'feature/common/footer/Footer.template.html'"></ng-include>