@import "~styles/responsive";

.bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  @media #{$mobile} {
    flex-direction: row;
    padding-bottom: 0;
    padding-right: 20px;
  }
}