@import "~styles/colors";

.component {
  display: flex;
  flex-direction: column;
  > div {
    margin: 10px 0;
  }
}

.delete {
  margin: 0 0 0 auto;
  padding: 5px 100px;
  background-color: $background-error;
}
