@import '~styles/colors.scss';
@import '~styles/shadows.scss';

.component {
  background-color: $white;
  border-radius: 3px;
  box-shadow: $box-shadow-1;

  &>div {
    margin: 0;
    min-width: 500px;
  }

  .header {
    text-align: center;
  }

  .button {
    margin-top: 10px;
    width: 100%;
  }
}
