@import '~styles/colors.scss';
@import '~styles/shadows.scss';

.component {
  background-color: $white;
  border-radius: 3px;
  box-shadow: $box-shadow-1;
  width: 500px;

  &>div {
    margin: 0;
  }

  .header {
    text-align: center;
  }

  .button {
    margin-top: 10px;
    width: 100%;
  }
}
