<div class="portalContainer container">
    <div class="well col-md-6">
        <label class="title">S'inscrire sur MyVirtualStoryBook !</label>
        <div>
            <label>Nom d'utilisateur</label>
            <input type="text" class="form-control" placeholder="Nom d'utilisateur">
        </div>
        <div>
            <label>Mot de passe</label>
            <input type="text" class="form-control" placeholder="********">
        </div>
        <div>
            <button type="button" class="btn btn-default btn-lg">
                <span class="glyphicon glyphicon-ok-circle"></span><span>S'inscrire<span>
            </button>
        </div>
    </div>
</div>