// New layout

$primary-color: #d8d8d8;
$secondary-color: #f8e71c;

$font-color: #4a4a4a;
$decorator-color: #979797;





// Old values

$blue-grey: #ecf0f5;

$grey: #ececec;
$grey-darken-20: darken($grey, 20);
$grey-darken-40: darken($grey, 70);

$black: #000;
$light-black: rgba(0,0,0,0.5);
$heavy-black: rgba(0,0,0,0.8);
$white: #fff;
$red: #f00;
$blue: #2e6da4;
$light-blue: #3c8dbc;
