$shadow-color: #808080;
$shadow-color-2: rgba(0,0,0,0.2);

$box-shadow-1: 1px 1px 10px 1px $shadow-color;
$box-shadow-2: 1px 1px 10px 2px $shadow-color;
$box-shadow-3: 0 4px 8px 0 $shadow-color-2;
$box-shadow-4: 0 8px 16px 0 $shadow-color-2;
