@import "~styles/responsive";

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  @media #{$mobile} {
    flex-direction: row;
    padding-top: 0;
    padding-left: 20px;
  }
}
