@import '~styles/colors';

.component {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $dark-primary-color;
  font-size: 1.1em;
  width: 100%;
}

.title {
  font-weight: bold;
  width: 100%;
}