@import '~styles/colors';
@import '~styles/shadows';

.component {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.book {
  display: flex;
  justify-content: center;
  width: 300px;
  margin: 20px;
  height: 300px;
}
