@import '~styles/colors';
@import '~styles/sizes';
@import '~styles/mixins';

.component {
  @include scrollbar();
  display: flex;
  justify-content: flex-start;
  height: $tab-content-size;
  flex-wrap: wrap;
  overflow: auto;
}

.book {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  margin: 20px;
  height: 300px;
}
