<div class="wrapper" ng-swipe-disable-mouse ng-swipe-right="showSlidebar()" ng-swipe-left="hideSlidebar()">
    <header class="main-header md-whiteframe-z2">
        <a ui-sref="app.play.books" class="logo"><img class="logo-header" src="/app/images/logo.png"><b style="font-size:0.8em;">MyVirtualStoryBook</b></a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top">
          <!-- Sidebar toggle button-->
          <a id="menu-togglemenu" class="sidebar-toggle" ng-click="toggleSlidebar(true)">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
              <div class="container-fluid">
                <div class="collapse navbar-collapse" id="nav-bar-collapse">
                  <ul class="nav navbar-nav">
                    <li class="divider">
                      <a ng-click="logout()">Déconnexion<span class="sr-only"></span></a>
                    </li>
                  </ul>
                </div>
              </div>
            </ul>
          </div>
        </nav>
      </header>
      <aside class="main-sidebar">
      <!-- sidebar: style can be found in sidebar.less -->
      <section class="sidebar">
        <!-- Sidebar user panel -->
        <!--<div class="user-panel">
          <div class="pull-left image col-xs-3">
              <div style="color:white;">Okazari</div>
              <img src="http://shimashimasha.com/img/diary/okazari.jpg">
          </div>
          <div class="pull-left info col-xs-9" style="padding-left:20px;">
              <div style="margin-top:10px; width: 100%;">
                  <div>Joueur niveau 7</div>
                  <div class="progress" style="height: 2px; margin-bottom:10px;">
                    <div class="progress-bar" style="width: 90%;"></div>
                  </div>
              </div>
              <div style="margin-top:5px;">
                  <div>Auteur niveau 3</div>
                  <div class="progress" style="height: 2px;">
                    <div class="progress-bar" style="width: 50%;"></div>
                  </div>
              </div>
          </div>
        </div>-->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
          <li class="header">Plan du site</li>
          <li class="treeview" ng-class="{'active':!menu.play.collapse}">
            <a ng-click="menu.play.collapse = !menu.play.collapse">
              <i class="fa fa-gamepad"></i> <span>Jouer</span> <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu" ng-class="{'menu-open':!menu.play.collapse}">
              <li id="menu-choosebook"><a ng-click="toggleSlidebar()" ui-sref="app.play.books"><i class="fa fa-circle-o"></i>Choisir un livre</a></li>
              <li id="menu-choosegame"><a ng-click="toggleSlidebar()" ui-sref="app.play.games"><i class="fa fa-circle-o"></i>Reprendre une partie</a></li>
            </ul>
          </li>
          <li class="treeview" ng-class="{'active':!menu.write.collapse}">
            <a ng-click="menu.write.collapse = !menu.write.collapse">
              <i class="fa fa-pencil"></i> <span>Ecrire</span> <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu" ng-class="{'menu-open':!menu.write.collapse}">
              <li id="menu-createbook"><a ng-click="newBook();toggleSlidebar();"><i class="fa fa-circle-o"></i>Créer un livre</a></li>
              <li id="menu-choosedraft"><a ng-click="toggleSlidebar()" ui-sref="app.write.drafts"><i class="fa fa-circle-o"></i>Voir mes brouillons</a></li>
              <li ng-show="!loaders.books" ng-repeat="book in playerDrafts.list | filter:{draft:true}"><a ng-click="toggleSlidebar()" ui-sref="app.write.book({id:book._id})"><i class="fa fa-{{genres.list[book.genreId].icon}}"></i>{{book.name}}</a></li>
              <li ng-show="loaders.books"><a><i class="fa fa-refresh"></i>Rafraichissement des livres</a></li>
            </ul>
          </li>
          <li class="treeview" ng-class="{'active': !menu.share.collapse}">
            <a ng-click="menu.share.collapse = !menu.share.collapse">
              <i class="fa fa-share-alt"></i> <span>Partager</span> <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu" ng-class="{'menu-open':!menu.share.collapse}">
              <li id="menu-sharebook"><a ng-click="toggleSlidebar()" ui-sref="app.share.book"><i class="fa fa-circle-o"></i>Partager un livre</a></li>
              <li id="menu-sharedbook"><a ng-click="toggleSlidebar()" ui-sref="app.share.publication"><i class="fa fa-circle-o"></i>Voir mes livres partagés</a></li>
              <li ng-show="!loaders.books" ng-repeat="book in playerDrafts.list | filter:{draft:false}"><a ng-click="toggleSlidebar()" ui-sref="app.write.book({id:book._id})"><i class="fa fa-{{genres.list[book.genreId].icon}}"></i>{{book.name}}</a></li>
              <li ng-show="loaders.books"><a><i class="fa fa-refresh"></i>Rafraichissement des livres</a></li>
            </ul>
          </li>
        </ul>
      </section>
      <!-- /.sidebar -->
    </aside>
    <div ui-view>
        
    </div>
    <div class="musicPopUp">
      <button ng-click="music.playPause()" ng-disabled="!music.valid" class="btn btn-primary"><i class="fa margin-right" ng-class="{'fa-pause':music.playing,'fa-play':!music.playing}"></i> {{music.band}} - {{music.title}}</button>
    </div>
    <footer class="main-footer" ng-class="{'with-right-sidebar': showRightMenu}">
      <div class="pull-right hidden-xs">
        <b>Version</b> 1.2 BétaTest -<a href="mailto:myvirtualstorybook@gmail.com"> myvirtualstorybook@gmail.com</a> - 
        Logo by Eliade - suivez le sur<a href="https://www.facebook.com/Eliadesdrawing?fref=ts"> facebook <i class="fa fa-facebook"></i></a>
      </div>
      <strong>MyVisualStoryBook <a href="">Okazari</a>.</strong> All rights reserved.
      
    </footer>
</div>