@import '~styles/colors';
@import '~styles/shadows';
@import '~styles/sizes';
@import '~styles/mixins';

.list {
  flex-wrap: wrap;
  display: flex;
  justify-content: flex-start;
}

.newBook {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: $box-shadow-1;
  cursor: pointer;
  transition: transform ease-in 100ms;
  &:hover {
    transform: scale(1.02);
  }
}

.delete {
  position: relative;
  height: 0;
  width: 100%;
  .action {
    position: absolute;
    display: flex;
    justify-content: center;
    right: 0;
    z-index: 100;
    margin: 5px;
    box-shadow: $box-shadow-1;
    transition: box-shadow ease-in 100ms;
    cursor: pointer;
    &:hover {
      box-shadow: $box-shadow-2;
    }
  }
}

.book {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-bottom: 150%;
}