<!-- Contenu de la page -->
<div class="content-wrapper" ng-class="{'with-right-sidebar': showRightMenu}">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>Edition de page</h1>
    <ol class="breadcrumb">
      <li><a ui-sref="app.play.books">MyVirtualStoryBook</a></li>
      <li><a ui-sref="app.write.drafts">Mes brouillons</a></li>
      <li><a ui-sref="app.write.book({id:page.bookId})">{{book.name}}</a></li>
      <li class="active">{{page.title}}</li>
    </ol>
  </section>
  <!-- Main content -->
  <section class="content">
    <div class="row">
      <!-- Default box -->
    <div class="col-xs-12">
      <div class="box box-primary md-whiteframe-z1">
        <div class="box-header with-border">
          <h3 class="box-title">Informations générales</h3>
          <div class="box-tools pull-right">
            <div class="btn-group"></div>
          </div>
        </div>
        <div id="page-info" class="box-body">
          <div class="row">
            <div class="col-sm-4 col-xs-12">
              <div id="page-title" class="input-group margin-top col-xs-12">
                <label>Titre</label> 
                <input ng-change="savePage()" ng-model-options="{debounce:1000}" type="text" name="cover" class="form-control " placeholder="Titre de la page" ng-model="page.title" ng-change="displayMessage = false" required>
              </div>
            </div>
            <div class="col-lg-8 col-sm-8 col-xs-12">
              <div id="page-memo" class="input-group margin-top col-xs-12">
                <label>Memo</label> 
                <input ng-change="savePage()" ng-model-options="{debounce:1000}" type="text" name="cover" class="form-control" placeholder="Decrivez rapidement ce qu'il se passe dans votre page" ng-model="page.description" ng-change="displayMessage = false" required>
              </div>
            </div>
          </div>
        </div><!-- /.box-body -->
        <div ng-show="pageLoading" class="overlay">
          <i class="fa fa-refresh fa-spin"></i>
        </div>
      </div>
    </div>  
    <div class="col-xs-12">
      <div id="page-effects" class="box box-primary md-whiteframe-z1">
        <div class="box-header with-border">
          <h3 class="box-title">Effets à l'arrivée sur la page</h3>
          <div class="box-tools pull-right">
            <div class="btn-group"></div>
          </div>
        </div>
        <div class="box-body">
          <div class="row margin-bottom" ng-repeat="effect in page.effects">
            <div class="col-xs-3">
              <select ng-change="savePage()" ng-model="effect.type"  ng-options="effectType as effectObject.label for (effectType,effectObject) in effects" class="form-control">
              </select>
            </div>
            <div class="col-xs-3">
              <select ng-show="effect.type" ng-change="savePage()" ng-model="effect.subject" class="form-control">
                <option ng-repeat="thing in book[effect.type]" ng-value="thing.name">{{thing.name}}</option>
              </select>
            </div>
            <div class="col-xs-3" >
              <select ng-show="effect.subject" ng-change="savePage()" ng-model="effect.operator"  ng-options="operatorKey as effectOperator for (operatorKey,effectOperator) in effects[effect.type].operators" class="form-control">
              </select>
            </div>
            <div class="col-xs-2" >
              <input ng-show="effect.operator && effect.type === 'stats'" ng-change="savePage()" ng-model-options="{debounce:1000}" type="number" class="form-control"  placeholder="Valeur de la condition" ng-model="effect.value">
            </div>
            <div class="col-xs-1">
              <button ng-click="page.effects.splice($index,1);savePage();" class="btn btn-primary fa fa-close md-whiteframe-z1"></button>
            </div>
          </div>
          <div class="col-xs-12" style="text-align:center">
            <button ng-click="page.effects.push({})" class="btn btn-primary md-whiteframe-z1">
              Ajouter un Effet
            </button>
          </div>
        </div><!-- /.box-body -->
        <div ng-show="pageLoading" class="overlay">
          <i class="fa fa-refresh fa-spin"></i>
        </div>
      </div>
    </div> 
    <div class="col-xs-12">
      <div id="page-background-music" class="box box-primary md-whiteframe-z1">
        <div class="box-header with-border">
          <h3 class="box-title">Musique de fond</h3>
          <div class="box-tools pull-right">
            <div class="btn-group"></div>
          </div>
        </div>
        <div class="box-body">
          <div class="row">
            <div class="col-sm-4 margin-top col-xs-12">
              <label>Lien SoundCloud</label> 
              <div class="input-group col-xs-12">
                <div class="input-group-btn"><button ng-click="music.playPause()" class="btn btn-primary" ng-disabled="!music.valid" ng-class="{'btn-danger':!music.valid}"><i class="fa" ng-class="{'fa-play':(music.valid && !music.playing), 'fa-pause':(music.valid && music.playing), 'fa-close':!music.valid}"></i></button></div>
                <input ng-change="savePage()" ng-model-options="{debounce:1000}" type="text" name="cover" class="form-control " placeholder="Lien SoundCloud de votre musique de fond" ng-model="page.background_music" ng-change="displayMessage = false">
              </div>
            </div>
          </div>
        </div><!-- /.box-body -->
        <div ng-show="pageLoading" class="overlay">
          <i class="fa fa-refresh fa-spin"></i>
        </div>
      </div>
    </div>
    <div class="col-xs-12">
      <div id="page-content" class="box box-primary md-whiteframe-z1">
        <div class="box-header with-border">
          <h3 class="box-title">Contenu</h3>
          <div class="box-tools pull-right">
            <div class="btn-group"></div>
          </div>
        </div>
        <div class="box-body">
          <div class="row">
            <div class="col-xs-12">
              <div text-angular ng-change="savePage()" ng-model-options="{debounce:1000}" ng-model="page.text"></div>
            </div>
          </div>
        </div><!-- /.box-body -->
        <div ng-show="pageLoading" class="overlay">
          <i class="fa fa-refresh fa-spin"></i>
        </div>
      </div>
    </div>
    <div class="col-xs-12">
      <!-- Default box -->
      <div id="page-transitions" class="box box-primary md-whiteframe-z1" >
        <div class="box-header">
          <h3 class="box-title">Transitions</h3>
        </div><!-- /.box-header -->
        <div class="box-body">
          <div class="box box-default md-whiteframe-z1 box-solid" ng-repeat="transition in page.transitions">
            <div class="box-header">
                <div class="input-group float-left">
                  <label>Page de destination
                    <button ng-show="transition.toPage" ui-sref="app.write.page({id:transition.toPage})" style="color:white" class="btn btn-primary btn-xs md-whiteframe-z1"><i style="margin-right:5px" class="fa fa-pencil"></i>Editer la page de destination</button>
                    <button ng-show="!transition.toPage" ng-click="addNewPage(transition)" style="color:white" class="btn btn-primary btn-xs md-whiteframe-z1"><i style="margin-right:5px" class="fa fa-plus"></i>Créer et lier la nouvelle page</button>
                  </label> 
                  <select ng-change="saveTransition(transition)" ng-model="transition.toPage" ng-options="page._id as page.title for page in pages" class="form-control">
                    <option value="" selected>-- Vers une nouvelle page --</option>
                  </select>
                </div>
                <div class="box-tools pull-right">
                  <button ng-click="deleteTransition(transition)" class="btn btn-box-tool md-whiteframe-z1" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
            </div><!-- /.box-header -->
            <div class="box-body">
              <div class="row no-margin">
                <textarea ng-change="saveTransition(transition)" ng-model-options="{debounce:1000}" rows="5" name="cover" class="form-control" placeholder="Texte de la transition" ng-model="transition.text" ng-change="displayMessage = false" required></textarea>
              </div>
              <div class="row no-margin margin-top">
                <div class="input-group col-xs-12">
                  <label>Conditions</label>
                  {{condition}}
                  <div class="row margin-bottom" ng-repeat="condition in transition.conditions">
                    <div class="col-xs-3">
                      <select ng-change="saveTransition(transition)" ng-model="condition.type"  ng-options="conditionType as conditionObject.label for (conditionType,conditionObject) in conditions" class="form-control">
                      </select>
                    </div>
                    <div class="col-xs-3">
                      <select ng-show="condition.type" ng-change="saveTransition(transition)" ng-model="condition.subject" class="form-control">
                        <option ng-repeat="thing in book[condition.type]" ng-value="thing.name">{{thing.name}}</option>
                      </select>
                    </div>
                    <div class="col-xs-3" >
                      <select ng-show="condition.subject" ng-change="saveTransition(transition)" ng-model="condition.operator"  ng-options="operatorKey as conditionOperator for (operatorKey,conditionOperator) in conditions[condition.type].operators" class="form-control">
                      </select>
                    </div>
                    <div class="col-xs-2" >
                      <input ng-show="condition.operator && condition.type === 'stats'" ng-change="saveTransition(transition)" ng-model-options="{debounce:1000}" type="number" class="form-control"  placeholder="Valeur de la condition" ng-model="condition.value">
                    </div>
                    <div class="col-xs-1">
                      <button ng-click="transition.conditions.splice($index,1);saveTransition(transition);" class="btn btn-primary fa fa-close md-whiteframe-z1"></button>
                    </div>
                  </div>
                  <div class="col-xs-12" style="text-align:center">
                    <button ng-click="transition.conditions.push({})" class="btn btn-primary btn-xs md-whiteframe-z1">
                      Ajouter une Condition
                    </button>
                  </div>
                </div>              
              </div>
              <div class="row no-margin margin-top">
                <div class="input-group col-xs-12">
                  <label>Effet</label>
                  <div class="row margin-bottom" ng-repeat="effect in transition.effects">
                    <div class="col-xs-3">
                      <select ng-change="saveTransition(transition)" ng-model="effect.type"  ng-options="effectType as effectObject.label for (effectType,effectObject) in effects" class="form-control">
                      </select>
                    </div>
                    <div class="col-xs-3">
                      <select ng-show="effect.type" ng-change="saveTransition(transition)" ng-model="effect.subject" class="form-control">
                        <option ng-repeat="thing in book[effect.type]" ng-value="thing.name">{{thing.name}}</option>
                      </select>
                    </div>
                    <div class="col-xs-3" >
                      <select ng-show="effect.subject" ng-change="saveTransition(transition)" ng-model="effect.operator"  ng-options="operatorKey as effectOperator for (operatorKey,effectOperator) in effects[effect.type].operators" class="form-control">
                      </select>
                    </div>
                    <div class="col-xs-2" >
                      <input ng-show="effect.operator && effect.type === 'stats'" ng-change="saveTransition(transition)" ng-model-options="{debounce:1000}" type="number" class="form-control"  placeholder="Valeur de la condition" ng-model="effect.value">
                    </div>
                    <div class="col-xs-1">
                      <button ng-click="transition.effects.splice($index,1);saveTransition(transition);" class="btn btn-primary fa fa-close md-whiteframe-z1"></button>
                    </div>
                  </div>
                  <div class="col-xs-12" style="text-align:center">
                    <button ng-click="transition.effects.push({})" class="btn btn-primary btn-xs md-whiteframe-z1">
                      Ajouter un Effet
                    </button>
                  </div>
                </div>              
              </div>
            </div><!-- /.box-body -->
          </div>
        <div class="box-footer align-center">
          <button ng-click="addNewTransition()" class="btn btn-primary md-whiteframe-z1">
            Ajouter une transition
          </button>
        </div>
    </div>
  </section><!-- /.content -->
  <!-- =============================================== -->
</div>
<div class="floatingAlerts">
  <alert ng-repeat="alert in alerts" ng-animate="'animate'" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
</div>